/* components/Footer.css */
footer {
    background-color: #dddddd;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  